.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    text-align: center;
    left: 0;
    right: 60rem;
    bottom: 0;
    padding: 0.5rem;
    background-color: #48C9B0     ;
    border: solid;
    border-width: 1.5px;
    display: inline-flexbox;
    justify-content: space-between;
}