.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    background-color: #20262E;
    border: solid;
    border-width: 1.5px;
}

.footer li{
    font-size: 1rem;
    margin-bottom: -3rem;
}