
* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigate{
    font-family: 'Josefin Sans', sans-serif;
    background-size: 100%;
    background-color: #181D31;
    font-size: 28px;
    padding-top: -1rem;
}

.title{
    font-family: 'Kenia', sans-serif;
    color: white;
    letter-spacing: 4px;
    padding-left: 5rem;
    font-size: 4rem;
}

.timer{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-left: 10rem;
    margin-top: -2rem;
}

.navText{
    padding-left: 20rem;
    text-decoration-line: none;
}

