* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: flexbox; 
}

.navigate{
    font-family: 'Josefin Sans', sans-serif;
    background-size: 100%;
    background-color: #181D31;
    font-size: 28px;
    padding-top: -1rem;
}

.title{
    font-family: 'Kenia', sans-serif;
    color: white;
    letter-spacing: 3px;
    margin-right: 85rem;
    font-size: 4rem;
}

.timer{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-right: 90rem;
}