* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

body{
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.navigate{
    display: inline-flexbox; 
    background-size: 100%;
    background-color: black;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.title{
    color: white;
    letter-spacing: 3px;
    padding-right: 1000px;
}
